/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
   --cor-de-fundo: #000;
   --cor-de-link: #ffff;
   --branco: #ffffff;
   --cherryblossompink: #EDAFB8;
   --font-principal: "Raleway", sans-serif;
   --timberwolf: #DEDBD2;
   --preto: #000;
   --outerspace: #4A5759;
}

*{
    box-sizing: border-box;

}

body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
   
}

p{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--branco);
}
  
ol, ul,li {
    list-style: none;
}

/*Estilos para link*/
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sessão Menu*/

.infousuario{
    background-color: var(--preto);
     
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-left: 100px;
    padding: 20px 80px;
    position: relative;
  
   
}

.menu__title{
    display: flex;
    justify-content: space-between;
    color:var(--cherryblossompink);   
    
}

/* Estilos para a lista do menu */
.menu__list{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
    font-size: 1.0rem;
    
}

/* Estilos para o container do título */
.title__div {
    display: flex;
    flex-direction:row-reverse;   
    justify-content: space-around;
    align-items: center;
}

.title__profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
 
}

/* Estilos para o container do título */
.title__container{
    margin-right: 50px; 
   
}

/* Estilos para a biografia no título */
.title__bio{
   margin-left: 60px;
   text-align: center;
   font-size: 3.0rem;
   color: var(--branco);
   font-weight: normal;
   
}

.title__subsection {
    display:flex;
    justify-content:space-around;
    color: var(--branco);
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 50px;
    
}

/*Estilos para sessão sobre mim */
.resumo{
    background-color: var(--branco);
    height: 410px;
     
}

.about__container{
    justify-content:space-around;
    align-items: center;
    margin: 60px 60px;
    
}

.about__title{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 40px;
    padding-top: 30px;
    color: var(--outerspace);
    font-weight: normal;
}

.about__paragraph{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.3rem;
    color: var(--preto);

}

/*Estilios para sessão habilidades */
.habilidades{
    height: 200px;
}

.skills__title{
   display:flex;
   justify-content: center;
   color: var(--outerspace);
   font-size: 2.5rem;
   font-weight: normal;
}

.skills__line{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;

}

/* Estilos para sessão histórico academico */
.formacao{
    background-color: var(--branco);
    box-sizing: border-box;
    height: 510px;
    
}

.academic__title{
    display: flex;
    justify-content: center;
    color: var(--outerspace);
    font-size: 2.5rem;
    font-weight: normal;
    padding-top: 28px;

}

.academic__courses__list{
    flex-direction: column;
    justify-content: space-around;
    margin: 5px; 
}

.academic__courses__item__title{
    flex-direction: column;
    text-align: center;
    color: var(--preto);
    font-weight: normal;
    font-size: 1.3rem;
    
}

.academic__courses__item__subtitle p{
    flex-direction: column;
    color: var(--preto);
    font-weight: normal;
    font-size: 1rem;
    text-align: center;   
}

/* Estilos para sessão projetos */
.repositorios{
    height: 600px;   
   
}
.experience__section__title{
    display: flex;
    justify-content: center;
    color: var(--outerspace);
    font-size: 2.5rem;
    font-weight: normal;
    
    
}

.experience__text{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-weight: normal;
    font-size: 1.5rem;
   
}

.experience__description{
    width: 80%;
    display: inline-block;
    margin-left: 250px;
    justify-content:center;
}


.experience__repo
.experience__demo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px; 
    padding: 8px 16px; 
    border-radius: 8px; 
}


.experiencia__botao--repo, 
.experiencia__botao--demo{ 
    cursor: pointer;
    background-color: var(--outerspace);
    color: var(--branco);
    border: none;
    border-radius: 4px;
    font-weight: normal;
    padding: 10px 20px;
    font-size: 16px;
}

/* Estilos para sessão contato */
.contato{
    background-color: var(--timberwolf);
    padding-bottom: 20px;
}

.formcontato__title{
    display: flex;
    justify-content: space-around;
    color: var(--outerspace);
    font-size: 2rem;
    font-weight: normal;
    padding-top: 20px;
    
}

.formcontato__form{
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    background-color: var(--branco);
    padding: 30px;
    border-radius: 10px;

}

.formcontato__input[type="text"],
.formcontato__input[type="email"],
.formcontato__input textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--outerspace);
    border-radius: 4px;
    cursor: pointer;
    
}

.formcontato__botao[type="enviar"]{
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: var(--preto);
    background-color: var(--timberwolf);
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    margin-top: 12px; 
  
} 

/*footeer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--cherryblossompink);
    padding-bottom: 10px;
    padding-top:30px;
    text-align: center;
    color:var(--branco);
    font-size: 15px;  
    flex-direction: column;
}

/* Estilos para a rede social no título */
.title__network__item{
   display: inline;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Desktop*/
@media (min-width: 1281px){

/* Estilos para o container do título */
.title__div {
    display: flex;
    flex-direction:row-reverse;  
    justify-content: space-around;
    align-items: center;
}

.title__profile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 30px;
    margin-right: 50px;
 
}

/* Estilos para o container do título */
.title__container{
    margin: 50px;
    flex-direction: column;
    justify-content: center;

}

.title__bio{
    display: flex;
    justify-content: center;
}

.title__subsection{
    text-align: center;
   
}

/* Estilos para sessão histórico academico */
.formacao{
   height: auto;
   padding-bottom: 30px;
    
}

/* Estilos para sessão projetos */
.experience__section__title{
    margin-top: 20px;
    margin-bottom: 0;
    
}

.experience__text{
    display: flex;
    
}

.experience__description{
    padding-left: 300px;
       
}

   
}

/*Tablet*/
@media (min-width: 768px){

/* Menu */
.menu{
    display: flex;
    flex-direction:column-reverse;
    padding: 20px 0 20px 0;
    margin: 0;
    font-weight: normal;

   
}

.menu__title{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 1.0rem;
    padding-top: 20px;
    
  

}

.menu__list{
    padding: 0;
    display: flex;
    justify-content:space-around;
    font-size: 1.0rem;
    margin: 10px;

}

/*Titulo*/
.title__div{
   flex-direction:row-reverse    
            
} 

.title__profile{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 24px;
      
} 

.title__bio{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.title__subsection{
    font-size: 1.0rem;
    text-align: center;
    margin-left: 100px;
    padding-top: 20px;
}

/*Sessão sobre mim*/
.about__title{
    font-size: 1.5rem;
}
.about__paragraph{
    font-size: 1rem;  
}

/*Skill*/
.skills__title{
    font-size: 1.5rem;
    padding-top: 30px;
}


/* formação acadêmica */
.formacao{
    height: auto;
    padding-bottom: 30px;
    align-items: center;  
}

.academic__title{
    font-size: 1.5rem;
}

.academic__courses__item__title{
    font-size: 1rem;
}

/*projetos*/
.experiencie__box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.experience__section__title{
    font-size: 1.5rem;
}

.experience__repo
.experience__demo{
    display: flex;
    flex-direction: column;  
}

.experience__text{
    font-size: 1rem;

}

/*Sessão de contato*/
.formcontato__title{
   font-size:  1.5rem;
}

}

/*Mobile*/
@media (max-width: 480px) {


/*Menu*/
.menu{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction:column-reverse;
    padding: 10px;
    font-weight: normal;
    
  
}

.menu__title{
    display:flex;
    justify-content:space-around;

}

.menu__list{
    padding: 0;
    display:flex;
    justify-content:center;
    margin-right: 10px;
    font-size: 0.8rem;
    
}

/*Titulo*/
.title__div{
    display: flex;
    flex-direction: column; 
            
} 

.title__profile{
    display: flex;
    border-radius: 50%;
    
        
} 

.title__bio{
    display: flex;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 30px;
}
.title__subsection{
    display: flex;
    text-align: center;
    font-size: 1rem;
    margin-left: 40px;
    padding-bottom: 0;
}

/*Sobre Mim*/
.resumo{
    height: auto;
    
}

/*Skills*/
.skills__line{
    display:flex;
    justify-content: center;
    padding-right: 50px;
}
 
/*Formação Acadêmica*/
.formacao{
    height: auto;
    padding-bottom: 30px; 
    
}

.academic__courses__item__title{
    display: flex;
    justify-content:center;
    padding-right: 40px;
    font-size: 1rem;
   
}

/*Projetos*/
.experience__text{
    font-size: 1.0rem;
    text-align: center;
}

.experience__description{
    display: flex;
    margin-left: 50px;
    
}

.experience__repo,
.experience__demo{ 
    padding: 8px 16px; 
    border-radius: 8px; 
}

.experiencia__botao--repo, 
.experiencia__botao--demo{ 
    font-size: 14px;
}

 /*Contato*/
 .formcontato__form{
    width: 80%;
    margin: 40px auto;
    background-color: var(--branco);
    padding: 30px;
    border-radius: 10px;

}
/*Footer*/
.title__network{
    display: flex;
    justify-content: center;
}


}
