/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
   --cor-de-fundo: #000;
   --cor-de-link: #ffff;
   --branco: #ffffff;
   --roxo: #da51c3;
   --font-principal: "Raleway", sans-serif;
   --cinza: #726969;
}

*{
    box-sizing: border-box;

}

body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
   
}

p{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--branco);
}
  
ol, ul,li {
    list-style: none;
}

/*Estilos para link*/
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sessão Menu*/

.infousuario{
    background-color: var(--preto);
    padding-top: 30px 30px;
    
}

.resumo{
    background-color: var(--cinza);
   
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-left: 100px;
    padding: 20px 80px;
    position: relative;
}

.menu__title{
    display: flex;
    justify-content: space-between;
    color:var(--roxo);
}

/* Estilos para a lista do menu */
.menu__list{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
    
}

/* Estilos para o container do título */
.title__div {
    display: flex;
    flex-direction: row-reverse;    
    justify-content: space-around;
    align-items: center;
}

/* Estilos para o container do título */
.title__container{
    margin-right: 50px; 
   
}

/* Estilos para a biografia no título */
.title__bio{
   margin-left: 60px;
   text-align: center;
   font-size: 3.0rem;
   color: var(--branco);
   font-weight: normal;
   
}

.title__subsection {
    display:flex;
    justify-content:space-around;
    color: var(--branco);
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 50px;
    
}

/* Estilos para a imagem de perfil */
.title__profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 80px; 
   
}

.about__container{
    justify-content:space-around;
    align-items: center;
    margin: 60px 60px;
    
}

.about__title{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 40px;
    padding-top: 30px;
    color: var(--roxo);
    font-weight: normal;
}

.about__paragraph{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.3rem;

}


.skills__title{
   display:flex;
   align-items: center;
   justify-content: space-around;
   color: var(--roxo);
   font-size: 2.5rem;
   font-weight: normal;
}

.skills__line{
    display:flex;
    justify-content: center;

}

.academic__title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--roxo);
    font-size: 2.5rem;
    font-weight: normal;

}

.academic__courses__box{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-weight: normal;
    font-size: 1.3rem;

}

.academic__courses__item__title{
    display:block;
    justify-content: center;
    flex-direction: column;
    color: var(--branco);
    font-weight: normal;
    font-size: 1.3rem;
}

.academic__courses__item__subtitle{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-weight: normal;

}

.experience__section__title{
    display: flex;
    justify-content: center;
    color: var(--roxo);
    font-size: 2.5rem;
    font-weight: normal;
}

.experience__box{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-weight: normal;
    font-size: 2rem;
}

.experience__title{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-weight: normal;
    font-size: 2rem;
}

.experience__text{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-weight: normal;
    font-size: 1.3rem;
}

.formcontato__title{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    
}

.experience__repo, 
.experience__demo{
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
    cursor: pointer; 
    padding: 8px 16px; 
    border-radius: 8px; 

}

.formcontato__form{
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    background-color: var(--branco);
    padding: 30px;
    border-radius: 10px;

}

.formcontato__input[type="text"],
.formcontato__input[type="email"],
.formcontato__input textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--cinza);
    border-radius: 4px;
    cursor: pointer;
    
}

.formcontato__botao[type="enviar"]{
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: var(--preto);
    font-size: 1em;
    cursor: pointer;
    display: flex;
    margin-top: 12px; 
  
} 

/*footeer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
    padding-bottom: 30px;
    padding-top:30px;
    text-align: center;
    color:var(--branco);
    font-size: 15px;  
    flex-direction: column;
}

/* Estilos para a rede social no título */
.title__network__item{
   display: inline;
}

  


/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
