@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --corprimaria:#860A35;
    --corsecundaria:#A3B763;
    --corterciaria:#F3F3F3;
    --corhover:#AF2655;

    --fonteprimaria: 'Krona One', sans-serif;
    --fontesecundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color:var(--corprimaria);
    color: var(--corsecundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link{
    font-family: var(--fontesecundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--corterciaria);
    text-decoration: none;
}

img{
    border-radius: 5%;
    box-shadow: inset; 
  
} 

.apresentacao{
    margin: 8% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque{
    color: var(--corterciaria);
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonteprimaria);
    font-size: 36px;
}

.apresentacao__conteudo__titulo__texto{
    font-size: 24px;
    font-family: var(--fontesecundaria);
}

.apresentacao__links{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonteprimaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
   display: flex;
   justify-content: center;
   gap: 16px;
   border: 2px solid var(--corterciaria);
   width: 378px;
   text-align: center;
   border-radius: 8px;
   font-size: 24px;
   font-weight: 600;
   padding: 21.5 0;
   text-decoration: none;
   color: var(--corsecundaria);
   font-family: var(--fontesecundaria); 
}

.apresentacao__links__link:hover{
    background-color: var(--corhover);
}

.rodape{
    color:var(--corprimaria);
    background-color:var(--corterciaria);
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
